/**
 * Base
 */

@use './variables' as *;

// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
}

// Base
.container {
  max-width: 1140px;
  padding: 60px 16px;
  margin: auto;

  @media (min-width: 1200px) {
    padding: 120px 0;
  }
}