/**
 * Variables
 */

// Colors
$color-dark: #0e1414;
$color-accent: #cf1430;
$color-white: #ffffff;

// Typography
$font-family-base: "Open Sans", sans-serif;
$font-family-headings: "Open Sans", sans-serif;