/**
 * Gallery
 */

@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.gallery {
  background-color: $color-dark;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include respond-to('xl') {
      flex-direction: row;
    }
  }

  // Image grid
  &__images {
    display: grid;
    gap: 10px;

    @include respond-to('md') {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      height: 600px;
    }
  }

  &__image {
    height: 300px;
    color: $color-white;
    overflow: hidden;
    cursor: pointer;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 0.3s ease-in-out;
    }

    &:first-child {
      grid-row: span 2;
    }

    &:hover, &:focus {
      > img {
        transform: scale(1.05);
      }
    }

    @include respond-to('md') {
      height: auto;
    }

    @include respond-to('xl') {
      width: 372px;
    }
  }

  // Main content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: $color-white;
  }
  
  &__title {
    font-size: 30px;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid $color-white;
    padding-bottom: 30px;
  }

  &__description {
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
  }

  // Featured text
  &__feature {

    &-title {
      font-size: 15px;
      font-weight: 700;
      line-height: 21px;
      color: $color-accent;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &-description {
      font-size: 21px;
      font-weight: 700;
      line-height: 30px;
    }
  }

  // Modal
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-dark, 0.9);
    color: $color-white;
    padding: 16px;
    transition: all 0.2s ease-in-out;

    // Modal container
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 32px;
      height: 100%;
    }

    // Close button
    &-close {
      display: inline-block;
      background-color: rgba($color-white, 0);
      width: 44px;
      height: 44px;
      color: $color-white;
      padding: 5px;
      margin-left: auto;
      border: 1px solid $color-white;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover, &:focus {
        background-color: $color-white;
        color: $color-dark;
      }
    }

    // Main image
    &-image {
      height: 70vh;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}